.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    margin-bottom: 0;
    text-decoration: none;
}

.nav__link {
    list-style-type: none;
}

nav a {
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

nav a:hover {
    color: brown;
}