.priceCard-box {
    display: flex;
    flex-wrap: wrap;
    gap: 45px 45px;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

.pricing-section {
    background: #F0F1F1;
    padding: 115px 0;
}

.priceCard-title {
    background: #3949AB;
    color: #FFFFFF;
}

.list-group-flush {
    background: #FFFFFF;
    align-items: center;
    padding: 15px;
}