.about-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 237px;
}

.about-blocks h3 {
    font-weight: 600;
}

.about-blocks img {
    /*max-width: 62px;*/
    margin-bottom: 30px;
}