.bannerBlock {
    width: 370px;
    height: 339px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
    padding: 45px 20px;
    gap: 10px;
}

.bannerBlock:hover {
    background: #00897B;
}